/*
0 - 600px: phone
600 - 900: tablet portait
900 - 1200: tablet landscape
1200 - 1800: desktop (1st)
1800+ : big desktop

$breakpoint args
- phone
- tab-P
- tal-L
- big-desktop

*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }
  80% {
    transform: translateX(3%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50%);
  }
  80% {
    transform: translateX(-3%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(60%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}
@media (min-width: 1800px) {
  html {
    font-size: 75%;
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.heading-primary__text {
  display: block;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}
.heading-primary__text--main {
  font-size: 6rem;
  font-weight: 600;
  letter-spacing: 3.25rem;
  animation: moveInLeft 1.5s ease-out;
  margin-bottom: 2rem;
}
.heading-primary__text--sub {
  letter-spacing: 1.75rem;
  font-size: 1.5rem;
  animation: moveInRight 1.5s ease-out;
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background: linear-gradient(135deg, rgba(112, 231, 91, 0.8), rgba(42, 215, 158, 0.8));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: 0.3s all ease-out;
}
.heading-secondary:hover {
  transform: skew(-5deg, 1deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.col-about-descriptions {
  font-size: 1.6rem;
}
.col-about-descriptions h3 {
  font-weight: 700;
  text-transform: uppercase;
}
.col-about-descriptions p:not(:last-child) {
  margin-bottom: 3rem;
}

.heading-tertiary {
  text-transform: uppercase;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-top-small {
  margin-top: 1.5rem;
}

.u-margin-top-medium {
  margin-top: 4rem;
}

.btn, .btn:link, .btn:visited {
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  font-size: 2rem;
  border-radius: 50px;
  transition: all 0.2s ease-out;
  animation: moveInBottom 1s ease-out 0.5s;
  animation-fill-mode: backwards;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:focus, .btn:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.btn--gradient {
  background: linear-gradient(135deg, rgba(112, 231, 91, 0.8), rgba(42, 215, 158, 0.8));
  color: #fff;
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn::after {
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s ease-in-out;
}

.btn__square {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  margin: 0 auto;
  padding: 1rem 1.75rem;
  top: 6rem;
  font-size: 2rem;
  border-bottom: solid 2px #3ee074;
  cursor: pointer;
  transition: 0.2s all ease-out;
}
.btn__square--green {
  background-color: transparent;
  color: #3ee074;
}
.btn__square--green:hover {
  transform: translateY(-5%);
  background-color: #3ee074;
  color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.btn__square--green:active, .btn__square--green:visited {
  transform: translateY(0);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.2;
}
.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card {
  position: relative;
  min-height: 52rem;
  perspective: 150rem;
  -moz-perspective: 150rem;
}
.card__side {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  color: #777;
  font-size: 2rem;
  min-height: 52rem;
  width: 100%;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  backface-visibility: hidden;
  transition: 0.4s all ease-in-out;
}
.card__side--front {
  background-color: #fff;
}
.card__side--back {
  transform: rotateY(180deg);
  color: #fff;
}
.card__side--back-1 {
  background: linear-gradient(135deg, #ffb900, #ff7730);
}
.card__side--back-2 {
  background: linear-gradient(135deg, #70e75b, #2ad79e);
}
.card__side--back-3 {
  background: linear-gradient(135deg, #2998ff, #5643fa);
}
.card:hover .card__side--front {
  transform: rotateY(180deg);
}
.card:hover .card__side--back {
  transform: rotateY(360deg);
}

.card__back-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 4rem;
}
.card__back-container--btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 100%;
  animation: none;
}
.card__back-container--btn:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 95%;
}
.card__back-container--btn:hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 95%;
}
.card__back-container--text-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: -100%;
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
}
.card__back-container--text-price {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 0%;
  display: block;
  font-size: 4rem;
  font-weight: 200;
}

.front-card-container {
  position: relative;
}
.front-card-container__img-container {
  width: 100%;
  height: 20rem;
  background-blend-mode: color;
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}
.front-card-container__img-container-1 {
  background-image: linear-gradient(135deg, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)), url("../../img/nat-5.jpg");
}
.front-card-container__img-container-2 {
  background-image: linear-gradient(135deg, rgba(112, 231, 91, 0.8), rgba(42, 215, 158, 0.8)), url("../../img/nat-6.jpg");
}
.front-card-container__img-container-3 {
  background-image: linear-gradient(135deg, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)), url("../../img/nat-7.jpg");
}
.front-card-container__heading {
  position: absolute;
  font-size: 2.8rem;
  font-weight: 300;
  color: #fff;
  top: 14rem;
  right: 2rem;
  text-align: right;
  text-transform: uppercase;
  width: 75%;
}
.front-card-container__heading--span {
  padding: 0.5rem;
  margin: 0.5rem 0;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}
.front-card-container__heading--span-1 {
  background: linear-gradient(135deg, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8));
}
.front-card-container__heading--span-2 {
  background: linear-gradient(135deg, rgba(112, 231, 91, 0.8), rgba(42, 215, 158, 0.8));
}
.front-card-container__heading--span-3 {
  background: linear-gradient(135deg, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
}
.front-card-container__description {
  padding: 3rem;
}
.front-card-container__description ul {
  margin: 0 auto;
  width: 80%;
  list-style: none;
  text-transform: capitalize;
}
.front-card-container__description ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem 0 1.25rem 0;
}
.front-card-container__description ul li:not(:last-child) {
  border-bottom: solid 1px #777;
}
.composition {
  position: relative;
}
.composition__photo {
  width: 80%;
  min-width: 250px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  position: absolute;
  z-index: 2;
  transition: 0.2s all ease-out;
  outline-offset: 2rem;
}
.composition__photo--p1 {
  left: -5%;
  top: -3rem;
}
.composition__photo--p2 {
  left: 50%;
  top: 1rem;
}
.composition__photo--p3 {
  left: 8%;
  top: 10rem;
}
.composition__photo:hover {
  outline: 1.5rem solid #3ee074;
  transform: scale(1.05) translateY(-5%);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
  z-index: 3;
}
.composition:hover .composition__photo:not(:hover) {
  transform: scale(0.95);
}

.feature-box {
  border-radius: 3px;
  padding: 2.5rem;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: 0.2s all ease-out;
  min-height: 30rem;
}
.feature-box__icon {
  font-size: 6rem;
  margin: 0.5rem;
  background: linear-gradient(135deg, rgba(112, 231, 91, 0.8), rgba(42, 215, 158, 0.8));
  -webkit-background-clip: text;
  color: transparent;
}
.feature-box__text {
  font-weight: 700;
  color: #555555;
}
.feature-box__text--paragraph {
  line-height: 2.5rem;
  color: #777;
  font-weight: 400;
}
.feature-box:hover {
  transform: translateY(-7.5%) scale(1.05);
}

.form__group:not(:last-child) {
  margin-bottom: 2rem;
}
.form__input {
  font-family: inherit;
  font-size: 1.6rem;
  color: #555555;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: solid 3px transparent;
  width: 90%;
  display: block;
}
.form__input::-webkit-input-placeholder {
  color: inherit;
}
.form__input:focus:invalid {
  border-bottom: solid 3px red;
}
.form__input:focus {
  outline: none;
  border-bottom: solid 3px #3ee074;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.form__label {
  display: block;
  color: #555555;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0.7rem 0 0 2rem;
  transition: 0.2s all ease-out;
}
.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}
.form__radio-group {
  width: 49%;
  display: inline-block;
}
.form__radio-label {
  position: relative;
  font-size: 1.6rem;
  cursor: pointer;
  text-transform: capitalize;
  padding-left: 4.5rem;
}
.form__radio-btn {
  position: absolute;
  top: -0.4rem;
  left: 0;
  display: inline-block;
  height: 3rem;
  width: 3rem;
  border: solid 5px #3ee074;
  border-radius: 50%;
}
.form__radio-btn::after {
  content: "";
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  background-color: #3ee074;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.15s;
}
.form__radio-input {
  display: none;
}
.form__radio-input:checked + .form__radio-label .form__radio-btn::after {
  opacity: 1;
}
.form .btn {
  border: none;
}

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}
.modal:target {
  opacity: 1;
  visibility: visible;
}
.modal .btn {
  margin: 0;
}
.modal__content {
  width: 70vw;
  max-height: 50rem;
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.3s 0.15s ease-out;
}
.modal:target .modal__content {
  transform: translate(-50%, -50%) scale(1);
}
.modal__side {
  display: table-cell;
  vertical-align: middle;
}
.modal__side--left {
  width: 33.33333334%;
}
.modal__side--right {
  position: relative;
  padding: 3rem 5rem;
  width: 66.66666667%;
}
.modal__side--right #close-modal {
  cursor: pointer;
  transition: all 0.2s;
}
.modal__side--right #close-modal:link, .modal__side--right #close-modal:visited {
  text-decoration: none;
  color: #555555;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2rem;
}
.modal__side--right #close-modal:hover {
  color: #3ee074;
}
.modal__img {
  display: block;
  width: 100%;
}
.modal__text {
  margin-bottom: 2rem;
}
.modal__text--heading {
  font-size: 2rem;
}
.modal__text--heading-main {
  font-size: 4.25rem;
}
.modal__text--heading-sub {
  color: #555555;
}
.modal__text--paragraph {
  font-size: 1.6rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #b7b7b7;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #b7b7b7;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.story {
  position: relative;
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 8rem 8rem 8rem 11rem;
  transform: skewX(-12deg);
}
.story .btn__square {
  position: absolute;
  left: 50%;
}
.story > * {
  transform: skewX(12deg);
}
.story__shape {
  position: relative;
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(45% at 50% 50%);
  clip-path: circle(45% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
}
.story__shape--img {
  height: 100%;
  transition: 0.2s all ease-out;
  transform: scale(1.1);
}
.story__text {
  font-size: 1.6rem;
}
.story__text--heading {
  font-size: 2rem;
  margin-bottom: 2rem;
}
.story__text--paragraph {
  line-height: 3rem;
}
.story__caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.3rem;
  text-align: center;
  opacity: 0;
  transition: 0.2s all ease-out;
  backface-visibility: hidden;
}
.story:hover .story__shape--img {
  filter: blur(5px) brightness(80%);
  transform: scale(1);
}
.story:hover .story__caption {
  opacity: 1;
  font-size: 1.7rem;
}

.section-stories__btn-container {
  position: relative;
  display: block;
}
.section-stories__btn-container .btn__square {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  animation: 0.2s all ease-out;
}
.section-stories__btn-container .btn__square:hover {
  transform: translate(-50%, -5%);
}
.section-stories__btn-container .btn__square:visited, .section-stories__btn-container .btn__square:active {
  transform: translate(-50%, 0);
}

.footer__logo--img {
  display: block;
  margin: 0 auto;
}
.footer__list {
  padding: 4rem 0 0 2rem;
  font-size: 1.6rem;
  list-style: none;
  border-top: solid 1px #777;
}
.footer__list li {
  display: inline-block;
}
.footer__list li:not(:last-child) {
  margin-right: 1.5rem;
}
.footer__list a:link, .footer__list a:visited {
  display: inline-block;
  color: #777;
  text-decoration: none;
  text-transform: uppercase;
}
.footer__list a:hover, .footer__list a:active {
  color: #3ee074;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.footer__list, .footer__description {
  border-top: solid 1px #777;
  margin-top: 4rem;
  font-size: 1.6rem;
  color: #777;
}
.footer__description {
  padding: 4rem;
  line-height: 3.25rem;
}

.header {
  position: relative;
  height: 95vh;
  width: 100%;
  background-image: linear-gradient(135deg, rgba(112, 231, 91, 0.8), rgba(42, 215, 158, 0.8)), url("../img/hero.jpg");
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  /* LOGO */
  /* heading */
}
.header__logo-box {
  position: absolute;
  top: 3rem;
  left: 3rem;
}
.header__logo {
  height: 35px;
}
.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  max-width: 114rem;
  margin: 0 auto 8rem auto;
  font-size: 3rem;
}
.row:last-child {
  margin-bottom: 0;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  float: left;
}
.row .col:not(:last-child) {
  margin-right: 6rem;
}
.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 6rem * 2) / 3);
}
.row .col-2-of-3 {
  width: calc(100% - 6rem - (100% - 6rem * 2) / 3);
}
.row .col-1-of-4 {
  width: calc((100% - 6rem * 3) / 4);
}
.row .col-2-of-4 {
  width: calc((100% - 6rem) / 2);
}
.row .col-3-of-4 {
  width: calc(76.2% - 6rem / 2);
}

.navigation__checkbox {
  display: none;
}
.navigation__btn {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  text-align: center;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 101;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.navigation__bg {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#70e75b, #2ad79e);
  transition: transform 0.8s ease-out;
  z-index: 99;
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  transition: all 0.3s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  width: 0;
}
.navigation__list {
  width: 100%;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  left: 51%;
  text-align: center;
}
.navigation__item {
  text-align: center;
  margin: 3rem;
  transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}
.navigation__item:hover {
  transform: translateX(5%);
}
.navigation__item span {
  margin-right: 1.5rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: 300;
  color: #fff;
  background-image: linear-gradient(105deg, transparent 0, transparent 50%, rgba(255, 255, 255, 0.8) 50%);
  background-size: 230%;
  transition: all 0.3s ease-out;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #3ee074;
}
.navigation__checkbox:checked ~ .navigation__bg {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100vw;
}
.navigation__checkbox:checked ~ .navigation__btn .navigation__burger {
  background-color: transparent;
}
.navigation__checkbox:checked ~ .navigation__btn .navigation__burger::after {
  top: 0;
  transform: rotate(45deg);
}
.navigation__checkbox:checked ~ .navigation__btn .navigation__burger::before {
  top: 0;
  transform: rotate(-45deg);
}
.navigation__burger {
  position: relative;
  margin-top: 3.4rem;
}
.navigation__burger, .navigation__burger::before, .navigation__burger::after {
  width: 3.5rem;
  height: 2px;
  background-color: #555555;
  display: inline-block;
}
.navigation__burger::before, .navigation__burger::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s ease-out;
}
.navigation__burger::before {
  top: -0.8rem;
}
.navigation__burger::after {
  top: 0.8rem;
}
.navigation__btn:hover .navigation__burger::before {
  top: -1rem;
}
.navigation__btn:hover .navigation__burger::after {
  top: 1rem;
}

.section-about {
  background-color: whitesmoke;
  padding: 20rem;
  margin-top: -20vh;
}

.section-features {
  margin-top: -20vh;
  padding: 20rem 2rem;
  background-image: linear-gradient(135deg, rgba(112, 231, 91, 0.8), rgba(42, 215, 158, 0.8)), url("../img/nat-4.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
}

.section-tours {
  position: relative;
  margin-top: -20vh;
  padding: 20rem 2rem;
  background-color: whitesmoke;
}
.section-tours .btn {
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 87.5%;
  animation: none;
}

.section-stories {
  position: relative;
  padding: 15rem 2rem;
}

.section-booking {
  padding: 15rem 2rem;
  background: linear-gradient(135deg, rgba(112, 231, 91, 0.8), rgba(42, 215, 158, 0.8));
}
.section-booking .book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(255, 255, 255, 0.9) 52%, transparent 52%), url("../../img/nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
}
.section-booking .book__form {
  width: 50%;
  padding: 6rem;
}

.footer {
  position: relative;
  background-color: #282828;
  min-height: 50rem;
  padding: 10rem 2rem;
}

/*# sourceMappingURL=style.css.map */
