// COLORS
$color-primary: #3ee074;
$color-primary-light: #70e75b;
$color-primary-dark: #2ad79e;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// COLORS--GRAYSCALE

$color-white: #fff;
$color-whitesmoke: whitesmoke;
$color-grey-light: #b7b7b7;
$color-grey-dark: #777;
$color-grey-darker: #555555;
$color-matte-black: #282828;
$color-black: #000;

// GRADIENTS
$gradient-primary: linear-gradient(
  135deg,
  rgba($color-primary-light, 0.8),
  rgba($color-primary-dark, 0.8)
);

$gradient-secondary: linear-gradient(
  135deg,
  rgba($color-secondary-light, 0.8),
  rgba($color-secondary-dark, 0.8)
);

$gradient-tertiary: linear-gradient(
  135deg,
  rgba($color-tertiary-light, 0.8),
  rgba($color-tertiary-dark, 0.8)
);

$graident-white-to-transparent: linear-gradient(
  105deg,
  rgba($color-white, 0.9) 0%,
  rgba($color-white, 0.9) 52%,
  transparent 52%
);
$graident-white-to-transparent--nav: linear-gradient(
  105deg,
  transparent 0,
  transparent 50%,
  rgba($color-white, 0.8) 50%
);

// GRID
$grid-width: 114rem;
$grid-margin: 0 auto 8rem auto;
$grid-gap: 6rem;
$grid-font-size: 3rem;
$grid-margin-footer: 0 auto 4rem auto;

// FONT-SIZE
$default-font-size: 1.6rem;

// DIMENSIONS
$base-border-radius: 3px;

// BOX_SHADOW
$base-box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
