@use "../abstracts/" as *;

.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.9);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  // MODAL_BTN
  .btn {
    margin: 0;
  }

  &__content {
    width: 70vw;
    max-height: 50rem;
    background-color: $color-white;
    box-shadow: $base-box-shadow;
    @include absoluteCenter;
    border-radius: $base-border-radius;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.3s 0.15s ease-out;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__side {
    display: table-cell;
    vertical-align: middle;
  }

  &__side--left {
    width: 33.33333334%;
  }
  &__side--right {
    position: relative;
    padding: 3rem 5rem;
    width: 66.66666667%;
    #close-modal {
      cursor: pointer;
      transition: all 0.2s;
      &:link,
      &:visited {
        text-decoration: none;
        color: $color-grey-darker;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 2rem;
      }

      &:hover {
        color: $color-primary;
      }
    }
  }
  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    margin-bottom: 2rem;

    &--heading {
      font-size: 2rem;

      &-main {
        font-size: 4.25rem;
      }
      &-sub {
        color: $color-grey-darker;
      }
    }
    &--paragraph {
      font-size: $default-font-size;

      -moz-column-count: 2;
      -moz-column-gap: 4rem;
      -moz-column-rule: 1px solid $color-grey-light;
      column-count: 2;
      column-gap: 4rem;
      column-rule: 1px solid $color-grey-light;

      -moz-hyphens: auto;
      -ms-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }
}

@media (max-width: 768px) {
  .modal {
    &__content {
      width: 90vw;
    }

    &:target &__content {
      transform: translate(-50%, -50%) scale(1);
    }

    &__side--left {
      display: none;
    }
  }
}
