@use "../abstracts/" as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines 1rem
  font-size: 62.5%; // 1rem = 10px
  // @include respond(phone) {
  //   font-size: 50%; // 1rem = 8px || 16 / 2 = 50%
  // }
  @include respond(tab-P) {
    font-size: 50%; // 1rem = 8px || 16 / 2 = 50%
  }
  @include respond(tab-L) {
    font-size: 56.25%; // 1rem = 9px || 16 / 9 = 56.25%
  }
  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 8px || 16 / 12 = 75%
  }
}

body {
  padding: 3rem;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }
}
